.todo {
	align-items: center;
	cursor: pointer;
	display: flex;
	padding: 1rem;
	position: relative;
	transition: background .3s ease;
	border-bottom: 1px solid #eeeeee;

	p, input {
		margin: 0;
	}

	> :first-child {
		margin-right: 1rem;
	}
	.todoBtns {
		position: absolute;
		right: 10px;
		bottom: -5px;
		display: none;
	}


	&:hover {
		background: #f0f0f0;

		.todoBtns {
			display: inline-block;
			transition: background .5s ease-in;
		}
		.todo_subtext {
			display: inline-block;
		}

	}

	#editInput {
		border: none;
		box-shadow: none;
		background: inherit;
	}

}

.todo_subtext {
	color: #999;
	display: none;
}

.todo-completed {
	p, .todo_subtext {
		text-decoration: line-through;
		color: $light-color;
	}
}
